.cursor-zoom-in {
  cursor: -webkit-zoom-in -moz-zoom-in zoom-in;
}

@for $i from 1 through 300 {
  .width-#{$i} {
    width: #{$i}px !important;
  }

  .min-width-#{$i} {
    min-width: #{$i}px !important;
  }

  .margin-#{$i} {
    margin: #{$i}px !important;
  }
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}
