header.app-header.navbar
  button.navbar-toggler.mobile-sidebar-toggler.d-lg-none.mr-auto type='button'  ☰
  a.navbar-brand href='#' 
  button.navbar-toggler.sidebar-minimizer.d-md-down-none type='button'  ☰
