= javascript_include_tag 'integrations/woopra', 'data-turbolinks-track': 'reload'

javascript:
  var userData = #{ current_user&.to_json&.html_safe || 'null' };
  if(userData) {
    woopra.identify(userData);
  }
  woopra.track();
